@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Theme variables */
    --background: #f0f0f0;
    --text: #1a1a1a;
    --primary: #2563eb;
    --secondary: #475569;
    --accent: #0ea5e9;
    --error: #dc2626;
    --correct: #16a34a;
    --cursor: #000000;

    /* Other variables */
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-robotoMono;
    background-color: var(--background);
    color: var(--text);
  }

  .cursor {
    animation: cursorBlink 1s ease-in-out infinite;
    animation-delay: 0.5s;
  }

  @keyframes cursorBlink {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }
}
